.about-me {
  margin-top: 100px;
}

.about-me__title {
  position: relative;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 2px solid @red;
  width: 160px;
  padding-bottom: 8px;
}

.about-me__container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 432px 50px;
  gap: 200px;
}

.about-me__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 95px;
  text-align: center;
}

.about-me__number {
  color: @red;
  font-weight: 500;
  font-size: 72px;
  line-height: 0;
}

.about-me__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: @white;
  margin-top: -30px;
}
