.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    margin-top: 120px;
    margin-bottom: 130px;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
  }
}

@media (max-width: @mobile-width-only) {
  .info__wrap {
    order: 2;
  }
}

@media (max-width: @mobile-width-only) {
  .info__wrap-img {
    margin-left: -20px;
    text-align: center;
  }
}

@media (max-width: @mobile-width-only) {
  .info__img {
    width: 288px;
    height: 283px;
  }
}

.info__title {
  color: @red;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 21px;
  }
}

.info__link {
  display: block;
  margin-top: 50px;
  width: 180px;
  background-color: @red;
  padding: 18px 76px 20px 76px;
  border-radius: 60px;
  text-align: center;
}

.info__link:hover,
.info__link:focus,
.info__link:active {
  background-color: @red-light;
}
