.main-nav__list {
  display: flex;
  color: @white;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  width: 915px;
}

.main-nav__item-line {
  border-bottom: 2px solid @red;
  width: 130px;
  padding-bottom: 8px;
  pointer-events: none;
}

.main-nav__item-tel {
  display: block;
  margin-top: -18px;
  background-color: @red;
  padding: 18px 76px 20px 76px;
  border-radius: 60px;
  text-align: center;
}

.main-nav__item-tel:hover,
.main-nav__item-tel:focus,
.main-nav__item-tel:active {
  background-color: @red-light;
}

.main-nav__item:hover,
.main-nav__item:focus,
.main-nav__item:active {
  border-bottom: 2px solid @red;
  width: 80px;
  padding-bottom: 8px;
}

