.page-footer {
  margin-top: 0;
  padding-left: 20px;
  background-color: @grey;
  position: relative;
  margin-bottom: -25px;
  padding-bottom: 25px;

  @media (min-width: @desktop-width) {
    margin-top: 180px;
    padding-left: 0;
  }
}

.page-body__wrap {
  padding-top: 50px;
}

.page-footer__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 2px solid @red;
  width: 160px;
  padding-bottom: 8px;
}

.page-footer__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.page-footer__link {
  display: block;
  padding: 19px 90px 23px 90px;
  border-radius: 60px;
  background-color: @red;
  text-align: center;
}

.page-footer__item-list {
  display: grid;
  text-transform: uppercase;
  margin-top: 40px;
  row-gap: 15px;
  position: relative;
  z-index: 3;

  @media (min-width: @desktop-width) {
    margin-top: 0;
    text-transform: lowercase;
    grid-template-columns: 1fr 1fr;
    gap: 0 35px;
  }
}

.page-footer__list-second {

  @media (min-width: @desktop-width) {
    margin-top: 70px 0 70px 0;
    font-size: 18px;
    line-height: 8px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.page-footer__item-autor {
  color: @grey-light;
}

.page-footer__item-img {
  position: absolute;
  bottom: 45px;
  right: 0;
  z-index: 1;

  @media (min-width: @desktop-width) {
    text-align: center;
    position: relative;
    bottom: 0;
  }
}

.page-footer__link-arrow {
  font-size: 90px;
  font-weight: 600;
  color: @red;
  position: absolute;
  bottom: 90px;
  right: 40%;


  @media (min-width: @desktop-width) {
    position: relative;
    bottom: 0;
    display: block;
    text-align: right;
    font-size: 60px;
    margin-top: 50px;
    color: @white;
  }
}

.page-footer__item-second {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 30px;
  }
}

.page-footer__link:hover,
.page-footer__link:focus,
.page-footer__link:active {
  background-color: @red-light;
}

.page-footer__link-arrow:hover,
.page-footer__link-arrow:focus,
.page-footer__link-arrow:active {
  font-size: 90px;
  color: @red;
}

@media (max-width: @mobile-width-only) {
  .page-footer__item-list {
    width: 150px;
  }
}
