.projects {
  margin-top: 40px;
}

.projects__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 2px solid @red;
  width: 160px;
  padding-bottom: 8px;
}

.projects__list {
  margin: 100px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.projects__item {
  position: relative;
  background-color: @red;
}

.projects__img {
  margin: 35px;
}

.projects__img-first {
  margin-top: 95px;
}

.projects__item-first, .projects__item-second {
  background-image: url("../img/background-card.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: inherit;
  height: 550px;
}

.project__subtitle {
  margin: 10px 0 45px 35px;
  font-size: 16px;
  max-width: 315px;
}

.project__link {
  display: block;
  position: absolute;
  right: 40px;
  bottom: 20px;
  color: @black;
  font-size: 30px;
  background-color: @white;
  padding: 25px 20px;
  border-radius: 80px;
}

.project__link-first {
  bottom: 50px;
}

.project__link:hover,
.project__link:focus,
.project__link:active {
  background-color: @red-light;
  color: @white;
}
