.promo {
  text-align: center;
  position: relative;
  background-image: url("../img/background.png");
  background-size: 100% 100%;
  background-position: 20px;
}

.promo__wrap {
  width: 1200px;
  margin: 0 auto;
}

.promo__title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 200px;
  line-height: 240px;
  text-transform: uppercase;
  text-align: left;
}

.promo__title-description {
  text-align: right;
}

.promo__img {
  margin-top: -150px;
}
