.skills {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 455px;
    gap: 25px;
  }
}

.skills__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__star {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 0;
  animation: move 10s linear infinite;
}

.skills__img {
  position: relative;
  z-index: 2;
}

.skills__wrap {
  order: 2;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.skills__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 2px solid @red;
  width: 130px;
  padding-bottom: 8px;
}

.skills__list {
  margin-left: 22px;
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  padding: 0;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    margin: 0;
    font-size: 18px;
    line-height: 40px;
  }
}

.skills__item,
.skills__item-sub {
  position: relative;
}

.skills__item::before,
.skills__item-sub::before {
  content: "";
  width: 13px;
  height: 13px;
  left: -20px;
  top: 6px;
  position: absolute;
  background: @red;

  @media (min-width: @desktop-width) {
    top: 15px;
  }
}

.skills__item-sub::before {
  border-radius: 30px;
}


.skills__subtitle {
  font-size: 18px;
  line-height: 40px;
  color: @red;
  margin-bottom: 10px;
}

@media (max-width: @mobile-width-only) {
  .skills__img {
    width: 318px;
    height: 313px;
  }

  .skills {
    position: relative;
    margin-top: 50px;
    padding-top: 200px;
  }

  .skills__title {
    position: absolute;
    top: 0;
  }

  .skills__wrap {
    margin-top: 50px;
  }
}
