.skills {
  display: grid;
  grid-template-columns: 1fr 455px;
  gap: 25px;
}

.skills__wrap {
  position: relative;
}

.skills__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 2px solid @red;
  width: 130px;
  padding-bottom: 8px;
}

.skills__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.skills__subtitle {
  font-size: 18px;
  line-height: 40px;
  color: @red;
  margin-bottom: 10px;
}
